@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@400;500;600&family=Inter:wght@400;600;700&family=Lato&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}

body {
  scroll-behavior: smooth;
}

/*-------------------------Navbar------------------------------*/
.header {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  padding: 12px 0;
  top: 0;
  transition: background 0.4s ease;
}

.header-background {
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  padding: 7px;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0 80px;
}

.page-title {
  font-size: 2rem;
  cursor: pointer;
  color: aliceblue;
}

.page-title span {
  color: #0ad3ee;
}

.menu {
  height: 100%;
  width: 50%;
}

.navbar-links-container {
  display: flex;
  justify-content: space-evenly;
}

.nav-list-items {
  list-style: none;
}

.nav-list-items a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-weight: 500;
  transition: 0.5s ease;
}

.nav-list-items a:hover {
  color: #0ad3ee;
}

#menu-bar {
  color: #0ad3ee;
  font-size: 40px;
  position: absolute;
  top: 13px;
  right: 25px;
  display: none;
}

#close-btn {
  color: #0ad3ee;
  font-size: 40px;
  position: absolute;
  display: none;
  top: 13px;
  right: 10px;
}

/*------------------------responsive media for nav bar------------------*/
@media all and (max-width: 705px) {
  .navbar-container {
    padding: 0;
  }

  .page-title {
    align-self: flex-start;
    padding-left: 50px;
  }

  #menu-bar {
    display: flex;
    cursor: pointer;
  }

  #close-btn.active {
    display: flex;
    cursor: pointer;
  }
  .navbar-container {
    flex-direction: column;
  }

  .menu {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
  }

  .navbar-links-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
  }

  .navbar-links-container .nav-list-items a {
    display: block;
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
  }
  .menu.active {
    display: flex;
  }
}

/*---------------------home-section----------------------*/
.home-section {
  height: 100vh;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  display: flex;
  color: white;
  max-width: 100vw;
  overflow: hidden;
}

.home-content-container {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.home-section .text-wrapper {
  display: flex;
  padding-left: 80px;
  flex-direction: column;
  position: relative;
}
.home-section .home-content-container .text-1 {
  font-size: 27px;
}

.home-section .home-content-container .text-2 {
  font-size: 75px;
  font-weight: 600;
  white-space: nowrap;
  margin-left: -2px;
  margin-top: -15px;
}

.home-section .home-content-container .text-3 {
  font-size: 40px;
  margin: 5px 0;
  margin-top: -20px;
  white-space: nowrap;
  font-weight: 500;
}

.text-3 span {
  color: #0ad3ee;
}

.hire-me-button {
  padding: 0.8rem 1.5rem;
  font-size: 20px;
  cursor: pointer;
  background-color: #0ad3ee;
  color: whitesmoke;
  border-style: none;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.5s ease;
  position: absolute;
  bottom: -55px;
}

.hire-me-button:hover {
  background-color: whitesmoke;
  color: #0b9fb3;
  letter-spacing: 0.2rem;
}

img {
  margin-right: 10px;
  height: 1100px;
}

@media all and (max-height: 900px) {
  img {
    height: 900px;
  }
}

@media all and (max-width: 720px) {
  img {
    display: none;
  }
  .home-content-container .text-wrapper {
    padding-left: 70px;
  }
  .home-content-container {
    padding-left: 0;
  }
  .home-section .home-content-container .text-1 {
    font-size: 27px;
  }

  .home-section .home-content-container .text-2 {
    font-size: 73px;
    white-space: nowrap;
  }

  .home-section .home-content-container .text-3 {
    font-size: 30px;
  }
}

@media all and (max-width: 693px) {
  .home-content-container .text-wrapper {
    padding-left: 50px;
  }
  .home-section .home-content-container .text-1 {
    font-size: 27px;
  }

  .home-section .home-content-container .text-2 {
    font-size: 70px;
    white-space: nowrap;
  }

  .home-section .home-content-container .text-3 {
    font-size: 30px;
  }
}

@media all and (max-width: 647px) {
  .home-content-container .text-wrapper {
    padding-left: 50px;
  }
  .home-section .home-content-container .text-1 {
    font-size: 27px;
  }

  .home-section .home-content-container .text-2 {
    font-size: 65px;
    white-space: normal;
  }
  .home-section .home-content-container .text-3 {
    font-size: 25px;
    white-space: normal;
  }
}

@media all and (max-width: 396px) {
  .hire-me-button {
    padding: 0.5rem 1rem;
    font-size: 15px;
  }
}
